<% include public/views/common/header.ejs %>
<html>

<head>
  <title> Refugee Revival </title>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/style.css">
</head>

<body>


  




  <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Refugee Revival</h1>
            <h3>Rohingya Chapter</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <section id="about" class="about"> <!-- see if the id = about is in js code -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The Rohingyas are one of the most persecuted community in the world.</h2>
                    <h3>This is our attempt to stand by the community torn apart by communal conflict.</h3>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Stand by a Community in misery</h1>
        </div>
    </aside>



    <section id="features" class="feat bg-primary">
        <div class="container">
            <div class="row text-center">
                <h1> How Refugee Revival Works </h1>
                <div class="col-lg-10 col-lg-offset-1">

                    <br><br>

                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="feat-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Social Media Updates</strong>
                                </h4>
                                <p>See updates from Twitter on what the world has to say about the Rohingyas.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="feat-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Call for Volunteer</strong>
                                </h4>
                                <p>Organizations need volunteers at site. They post updates on the crisis they face
                                   and update the users on the number of volunteers they need.
                                </p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="feat-item">
                              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                              </span>
                                <h4>
                                    <strong>Call for Donation</strong>
                                </h4>
                                <p>Donate to money and commodities for the Rohingya Refugees. The process is currently under construction.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class ="" id= "publicPosts">
      <h1>Organizations on Refugee Revival</h1>
      <p> <a href= "#">Click here </a> to see everyday stories of Rohingya refugees posted by the organizations </p>
    </div>


<% include public/views/common/footer.ejs %>